{% extends 'base.html' %}

{% block head %}
    <title>Example Template</title>
{% endblock %}

{% block body %}
    <div class="billboard">
        <h1>COVID Disaster Consult Info</h1>
    </div>
    <h2>Preventing the Spread of COVID-19</h2>
    <div class="grid-container">
        <div class="grid-item1">
            <h2>Step 1</h2>
            <h4>Wash Your Hands</h4>
            <p>Wash your hands frequently.</p>
            <p>Studies show you are 50% less likely to get sick
                if you wash your hands ferquently. Especially when you
                were previously out in public.
            </p>
        </div>
        <div class="grid-item2">
            <h2>Step 2</h2>
            <h4>Stay At Home If You Feel Unwell</h4>
            <p>If you think you might be sick, don't put others
                at risk.</p>
            <p>Social distancing can be dificult but it is necessary
                in order for us to be able to control the spread of
                the virus.
            </p>
        </div>
        <div class="grid-item3">
            <h2>Step 3</h2>
            <h4>Cover Your Mouth When You Cough/Sneeze</h4>
            <p>Coronavirus is spread from person to person in this
                way mainly.</p>
            <p>You will significantly reduce the risk of spreading
                the disease if you make sure your coughs and sneezes
                are covered by a napkin or a sleeve as they occur.
            </p>
        </div>
        <div class="grid-item4">
            <h2>Step 4</h2>
            <h4>Avoid Unnecessary Gatherings</h4>
            <p>
                If you do not have to meet and have contact with
                people don't do it.
            </p> 
            <p>
                This is your biggest risk factor,
                and eliminating it will drastically reduce your odds
                of catching COVID-19.
            </p>
        </div>
        <div class="grid-media">
            <p><iframe src="https://www.youtube.com/embed/rAj38E7vrS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        </div>
    </div>

    <h2>Another Info Post</h2>
    <div class="grid-container">
        <div class="grid-item1">
            <h2>Title 1</h2>
            <h4>Example</h4>
            <p>Example Example Example Example Example Example.
                Example Example Example Example Example Example Example
                Example Example Example Example Example Example Example.
            </p>
        </div>
        <div class="grid-item2">
            <h2>Title 2</h2>
            <h4>Example</h4>
            <p>Example Example Example Example Example Example.
                Example Example Example Example Example Example Example
                Example Example Example Example Example Example Example.
            </p>
        </div>
        <div class="grid-item3">
            <h2>Title 3</h2>
            <h4>Example</h4>
            <p>Example Example Example Example Example Example.
                Example Example Example Example Example Example Example
                Example Example Example Example Example Example Example.
            </p>
        </div>
        <div class="grid-item4">
            <h2>Title 4</h2>
            <h4>Example</h4>
            <p>Example Example Example Example Example Example.
                Example Example Example Example Example Example Example
                Example Example Example Example Example Example Example.
            </p>
        </div>
        <div class="grid-media">
            <p><iframe src="https://www.youtube.com/embed/fgBla7RepXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        </div>
    </div>
    

{% endblock %}